
.navbar {
  background-color: #146d6d;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px; /* Adjust the width of the logo as needed */
}

.title {
  font-size: 1.8rem; /* Adjust the font size of the title */
  margin-left: 10px; /* Adjust the spacing between the logo and title */
  color:#ddd
}

.center-links {
  display: flex;
  justify-content: center;
}

.left-links {
  display: flex;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

